# Copyright 2017 Initiate Thinking Limited
# Author: Nigel Daniels
# MIT Licensed

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Apple files
.AppleDouble/
.DS_Store
